body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Consolas;
}

h1 {
    font-family: Consolas;
}

h2 {
    font-family: Consolas;
}

h3 {
    font-family: Consolas;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Menu Bar */
.navbar-inverse {
    background-color:#0266C8;
    border-color:#FFFFFF;
}

.navbar > .container .navbar-brand {
    color:#FFFFFF;
}

.navbar-inverse .navbar-nav > li > a {
    color:#FFFFFF;
}

.btn {
  border-radius:0;
}

.form-control {
    border-radius:0;
}

.container .jumbotron {
    border-radius:0;
}

/* Text colouring */
.text-green {
    color:#00894B;
}

/* Control sizing */
.width-100 {
    width:100%;
    max-width:100%;
}

.width-85 {
    width:85%;
    max-width:100%;
}

.tr-option {
    background-color:lightgray;
}

.tamagotchi-font {
    font-family: Consolas;
}