<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://tamservice.azurewebsites.net/TService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITService"
                contract="TamagotchiReference.ITService" name="BasicHttpBinding_ITService" />
        </client>
    </system.serviceModel>
  <connectionStrings>
    <add name="Azure" providerName="System.Data.SqlClient" connectionString="Server=tcp:[DATABASESERVER],[PORT];Database=[DATABASE];User ID=[USERID];Password=[PASSWORD];Trusted_Connection=False;Encrypt=True;Connection Timeout=90;" />
  </connectionStrings>
</configuration>
